[submodule "src/3rdparty/qntp"]
	path = src/3rdparty/qntp
	url = https://github.com/retgone/qntp.git
[submodule "src/3rdparty/cryptopp-qt"]
	path = src/3rdparty/cryptopp-qt
	url = https://github.com/Skycoder42/cryptopp-qt.git
